<!-- 
© Copyright 2015 Flytxt BV. ALL RIGHTS RESERVED.

All rights, title and interest (including all intellectual property rights) in this software and any derivative works based upon or derived from
this software belongs exclusively to Flytxt BV. Access to this software is forbidden to anyone except current employees of Flytxt BV and its
affiliated companies who have executed non-disclosure agreements explicitly covering such access. While in the employment of Flytxt BV or its
affiliate companies as the case may be, employees may use this software internally, solely in the course of employment, for the sole purpose of
developing new functionalities, features, procedures, routines, customizations or derivative works, or for the purpose of providing maintenance or
support for the software. Save as expressly permitted above, no license or right thereto is hereby granted to anyone, either directly, by
implication or otherwise. On the termination of employment, the license granted to employee to access the software shall terminate and the software
should be returned to the employer, without retaining any copies.

This software is (i) proprietary to Flytxt BV; (ii) is of significant value to it; (iii) contains trade secrets of Flytxt BV; (iv) is not publicly
available; and (v) constitutes the confidential information of Flytxt BV. Any use, reproduction, modification, distribution, public performance or
display of this software or through the use of this software without the prior, express written consent of Flytxt BV is strictly prohibited and may
be in violation of applicable laws.
-->
<link href="../iron-ajax/iron-ajax.html" rel="import">
<link href="../flytxt-oidc-login/flytxt-oidc-login.html" rel="import">
<link href="../flytxt-behaviors/webL10n-helper.html" rel="import">
<link href="../iron-a11y-keys/iron-a11y-keys.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">
<link href="../gold-email-input/gold-email-input.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-fab/paper-fab.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-checkbox/paper-checkbox.html" rel="import">

<!--
A web component that provides a basic form login page.
It also uses flytxt-oidc-login if app.oidcAuth is set to true.

Example:

    <app-login></app-login>
    The redirect to app only works when adding this element using app-router as follows:
    <app-route path="/login" element="app-login" bindRouter></app-route>

### Styling

The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|---------
`--app-login`| Mixin applied to this element | `{}`
`--app-login-button`| Mixin applied to the login button | `{}`
`--app-login-button-disabled`| Mixin applied to the disabled login button | `{}`
`--app-login-content`| Mixin applied to the content section | `{}`
`--app-login-content-large`| Mixin applied to the content section for larger screens (min-width: 640px) | `{}`
`--app-login-header`| Mixin applied to the header | `{}`
`--app-login-button-container`| Mixin applied to the button container | `{}`
-->
<!-- Style tag added since paper-dialog is not in the scope of app-login -->
<dom-module id="app-login">
  <template>
   <!-- inline app-login.css -->
   <style type="css" is="custom-style">:host {
  display: block;
  @apply(--app-login);

  --paper-fab: {
    @apply(--app-login-button);
  };

  --paper-fab-disabled : {
    @apply(--app-login-button-disabled);
  };
}

.content {
  padding: 3.75em 1.875em;
  background: var(--lightest-color);
  @apply(--app-login-content);
}

.header {
  @apply(--app-login-header);
}

@media screen and (min-width: 640px) {
  .content {
    margin: 4em auto;
    width: 40em;
    @apply(--app-login-content-large);
  }
}
#loginButton {
  @apply(--app-login-button);
}
#loginButton[disabled] {
  @apply(--app-login-button-disabled);
}

.remember {
  @apply(--app-login-remember-me);
}
.forgotPassword {
  @apply(--app-login-forgot-password);
}
paper-checkbox {
  @apply(--app-login-paper-checkbox);
}

.button-container {
  @apply(--layout-horizontal);
  @apply(--layout-end-justified);
  @apply(--app-login-button-container);
}

.capsLockSection {
  visibility: hidden;
  font-size: 0.7em;
}
</style>
   <iron-ajax url="/neon-ws/validateAccountId" method="GET"
	handle-as="json" on-response="accountIdsAjaxResponse" id="getAccountIdsAjax"></iron-ajax>
    <iron-ajax url="[[ baseUri ]][[ loginUri ]]" method="POST" handle-as="json" on-response="postLogin" id="login" on-error="loginError"></iron-ajax>
    <iron-ajax url="[[ baseUri ]][[ resetUri ]]" method="POST" handle-as="json" on-response="postReset" id="reset" on-error="resetError"></iron-ajax>
    <iron-a11y-keys target="[[ target ]]" keys="enter" on-keys-pressed="clickLogin"></iron-a11y-keys>

    <paper-material class="content" hidden="[[ oidcAuth ]]">
    <template is="dom-if" if="[[ !enableRememberMe ]]">
      <div class="header">[[ webL10n(l10n, 'login.title') ]]</div>
    </template>
      <gold-email-input label="[[ webL10n(l10n, 'login.username') ]]" class="item item-input" value="{{ username }}"></gold-email-input>
      <paper-input on-keypress="checkCapsLock" label="[[ webL10n(l10n, 'login.password') ]]" class="item item-input" type="password" value="{{ password }}"></paper-input>
      <paper-input label="Account ID" class="item item-input" value="{{ accountId }}"></paper-input>
    
      <div class="layout horizontal justified">
        <div id="divCapsLockMsg" class="capsLockSection">
          <iron-icon icon="icons:warning"></iron-icon> [[ webL10n(l10n, 'login.capsLockWarning') ]]
        </div>
        <template is="dom-if" if="[[ enableRememberMe ]]">
          <paper-checkbox class="remember" checked="{{ rememberMe }}">[[ webL10n(l10n, 'login.rememberme') ]]</paper-checkbox>
        </template>
      </div>
      <div class="button-container">
          <template is="dom-if" if="[[ regularLoginButton ]]">
          <paper-button id="loginButton" disabled="{{ !showLogin(username, password,accountId) }}" on-tap="handleLogin">[[ webL10n(l10n, 'login.button') ]]</paper-button>
        </template>
        &nbsp;&nbsp;&nbsp;
        <template is="dom-if" if="[[ enableSignUp ]]">
          <paper-button id="loginButton" on-tap="redirectToSignUp">Sign Up</paper-button>
        </template>
      </div>
      <template is="dom-if" if="[[ enableForgotPassword ]]">
        <paper-button noink class="forgotPassword" on-tap="onPasswordForgot">[[ webL10n(l10n, 'login.forgotPassword') ]]</paper-button>
      </template>
      
      
      
    </paper-material>
    <paper-dialog id="openDialog" modal class="layout vertical">
      <span>[[ webL10n(l10n, 'login.confirmMsg') ]]</span>
      <div class="buttons">
        <paper-button style= "background-color: transparent; color: #006599;" dialog-dismiss>[[ webL10n(l10n, 'offer.no') ]]</paper-button>
        <paper-button on-tap="resetPassword">[[ webL10n(l10n, 'offer.yes') ]]</paper-button>
      </div>
    </paper-dialog>
    <template is="dom-if" if="[[ oidcAuth ]]">
      <flytxt-oidc-login src="[[ baseUri ]][[ loginUri ]]" user="{{ user }}"></flytxt-oidc-login>
    </template>
  </template>
  <!-- inline app-login.js -->
  <script type="text/javascript">Polymer({
  is: 'app-login',

  properties: {

    postLoginResult: {
      type: Object,
      value: {}
    },
    /**
     * The context path for RESTful endpoints, make sure to set app.appContext if this is not set explicitly.
     */
    baseUri: {
      type: String,
      value: function() {
        return app.appContext;
      }
    },

    /**
     * The endpoint for form based login.
     */
    loginUri: {
      type: String,
      value: '/auth/login'
    },

    resetUri: {
      type: String,
      value: '/auth/resetPassword'
    },

    /**
     * Set to true to enable remember me functionality. Shows the remember me checkbox.
     */
    enableRememberMe: {
      type: Boolean,
      value: false
    },

    /**
     * Set to true to enable forgot password functionality. Shows the Forgot Password link.
     */
    enableForgotPassword: {
      type: Boolean,
      value: false
    },

    /**
     * Set to true to render a paper-button instead of paper-fab.
     */
    regularLoginButton: {
      type: Boolean,
      value: false
    },
    
    enableSignUp: {
      type: Boolean,
      value: true
    },
    /**
     * This object is used to obtain user info from flytxt-oidc-login. On successful response, the user object is set to `app.User`.
     */
    user: {
      type: Object,
      observer: '_userChange'
    }
  },

  behaviors: [Flytxt.webL10n],

  attached: function() {
    var me = this;
    me.async(function() {
      me.set('oidcAuth', app.oidcAuth);
      if (app.User) {
        me.redirectToApp();
      }
    });
    if (me.baseURI) {
      var params = me.baseURI.split('?')[1] ? me.baseURI.split('?')[1].split('&') : undefined;
      if (params) {
        if (params[0].split('=')[0] === 'username') {
          me.set('username', params[0].split('=')[1]);
        }
        if (params[1] && params[1].split('=')[0] === 'password') {
          me.set('password', params[1].split('=')[1]);
        }
        if (params[2] && params[2].split('=')[0] === 'forwardUri') {
          me.set('forwardUri', params[2].split('=')[1]);
        }
        if (params[3] && params[3].split('=')[0] === 'accountId') {
          me.set('accountId', params[3].split('=')[1]);
        }
        me.set('rememberMe', false);
        me.handleLogin();
      }
    }
  },

  _userChange: function(user) {
    var me = this;
    if (user) {
      app.User = user;
      me.redirectToApp();
    }
  },

  /**
   * This function is called on-tap of the loginButton.
   */
  handleLogin: function() {
    var me = this;
    var body = 'username=' + encodeURIComponent(me.username) + '&password=' + encodeURIComponent(me.password);
    body = body + '&accountId=' + encodeURIComponent(me.accountId);
    me.$.login.body = body;
    if (me.enableRememberMe) {
      me.$.login.body += '&remember-me=' + encodeURIComponent(me.rememberMe);
    }

    me.$.login.generateRequest();
  },
  /**
   * This function is called on-tap of the register link.
   */
  redirectToSignUp: function() {
    if (this.router) {
      this.router.go('/signup');
    }
  },
  /**
   * Handler for iron-ajax `response` event.
   * 
   * @param {Object} event
   * @param {Object} result
   */
  postLogin: function(event, result) {
    this.postLoginResult = result;
    this.$.getAccountIdsAjax.set('params', {'emailId': this.username , 'accountId': this.accountId});
    this.$.getAccountIdsAjax.generateRequest();
  },
  
  accountIdsAjaxResponse: function(e) {
    if (!e.detail.__data__.response) {
      this.fire('invalid-account', this.postLoginResult);
    } else {
      app.User = this.postLoginResult.response;
      sessionStorage.setItem('accountId', this.accountId);
      this.fire('login-success', this.postLoginResult);
      this.redirectToApp();
    }
  },

  /**
   * Handler for iron-ajax `error` event.
   * 
   * @param {Object} event
   * @param {Object} result
   */
  loginError: function(event, result) {
    if (result.request && 401 === result.request.status) {
      if (this.l10n && this.l10n.loginFailureReasons && this.l10n.loginFailureReasons[result.request.xhr.response.msg]) {
        app.showToast(this.l10n.loginFailureReasons[result.request.xhr.response.msg]);
      } else {
        console.warn('missing localized string for key: ', 'loginFailureReasons.' + result.request.xhr.response.msg);
        app.showToast(result.request.xhr.response.msg);
      }
    }
  },

  /**
   * Computed whether login button should be shown.
   * 
   * @param {String} username
   * @param {String} password
   */
  showLogin: function(username, password, accountId) {
    return !(!username.length || !password.length || !accountId.length);
  },

  /**
   * Redirects the user to the app home page or another deep link from login. Also fires an 'auth-success' event on document object.
   */
  redirectToApp: function() {
     document.dispatchEvent(new CustomEvent('auth-success'));
     if (this.router) {
       this.router.go(app.redirectUri || this.forwardUri || app.get('User.' + this.getAttribute('landing-page-attr')) || '/');
     }
   },

  /**
   * Handler for iron-a11y-keys key-press.
   */
  clickLogin: function() {
    var loginButton = this.$$('#loginButton');
    if (!loginButton.disabled) {
      loginButton.fire('tap');
    }
  },

  onPasswordForgot: function() {
    var me = this;
    if (this.username.length) {
      me.setDialog(true);
      me.$.openDialog.open();
    } else {
      app.showToast(me.webL10n(me.l10n, 'login.noEmail'));
    }
  },

  setDialog: function(open) {
    var me = this;
    if (open) {
      var node = me.$.openDialog;
      var textnode = document.querySelector('body');
      textnode.appendChild(node);
    }
  },

  resetPassword: function() {
    var me = this;
    me.$.reset.body = 'username=' + encodeURIComponent(me.username);
    me.$.reset.generateRequest();
    me.$.openDialog.close();
  },

  postReset: function() {
    var me = this;
    app.showToast(me.webL10n(me.l10n, 'login.resetSuccess'));
  },

  resetError: function() {
    var me = this;
    app.showToast(me.webL10n(me.l10n, 'login.resetFailure'));
  },

  checkCapsLock: function(e) {
    var kc;
    var sk;
    kc = e.keyCode ? e.keyCode : e.which;
    sk = e.shiftKey ? e.shiftKey : ((kc === 16) ? true : false);
    
    if (((kc >= 65 && kc <= 90) && !sk) || ((kc >= 97 && kc <= 122) && sk)) {
      this.$$('#divCapsLockMsg').style.visibility = 'visible';
    } else {
      this.$$('#divCapsLockMsg').style.visibility = 'hidden';
    }
  }
});
</script>
</dom-module>
