<!-- 
© Copyright 2015 Flytxt BV. ALL RIGHTS RESERVED.

All rights, title and interest (including all intellectual property rights) in this software and any derivative works based upon or derived from
this software belongs exclusively to Flytxt BV. Access to this software is forbidden to anyone except current employees of Flytxt BV and its
affiliated companies who have executed non-disclosure agreements explicitly covering such access. While in the employment of Flytxt BV or its
affiliate companies as the case may be, employees may use this software internally, solely in the course of employment, for the sole purpose of
developing new functionalities, features, procedures, routines, customizations or derivative works, or for the purpose of providing maintenance or
support for the software. Save as expressly permitted above, no license or right thereto is hereby granted to anyone, either directly, by
implication or otherwise. On the termination of employment, the license granted to employee to access the software shall terminate and the software
should be returned to the employer, without retaining any copies.

This software is (i) proprietary to Flytxt BV; (ii) is of significant value to it; (iii) contains trade secrets of Flytxt BV; (iv) is not publicly
available; and (v) constitutes the confidential information of Flytxt BV. Any use, reproduction, modification, distribution, public performance or
display of this software or through the use of this software without the prior, express written consent of Flytxt BV is strictly prohibited and may
be in violation of applicable laws.
-->
<link href="../iron-ajax/iron-ajax.html" rel="import">
<link href="../flytxt-oidc-login/flytxt-oidc-login.html" rel="import">
<link href="../flytxt-behaviors/webL10n-helper.html" rel="import">
<link href="../iron-a11y-keys/iron-a11y-keys.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">
<link href="../gold-email-input/gold-email-input.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-fab/paper-fab.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-checkbox/paper-checkbox.html" rel="import">

<!--
A web component that provides a basic form login page.
It also uses flytxt-oidc-login if app.oidcAuth is set to true.

Example:

    <app-login></app-login>
    The redirect to app only works when adding this element using app-router as follows:
    <app-route path="/login" element="app-login" bindRouter></app-route>

### Styling

The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|---------
`--app-login`| Mixin applied to this element | `{}`
`--app-login-button`| Mixin applied to the login button | `{}`
`--app-login-button-disabled`| Mixin applied to the disabled login button | `{}`
`--app-login-content`| Mixin applied to the content section | `{}`
`--app-login-content-large`| Mixin applied to the content section for larger screens (min-width: 640px) | `{}`
`--app-login-header`| Mixin applied to the header | `{}`
`--app-login-button-container`| Mixin applied to the button container | `{}`
-->
<!-- Style tag added since paper-dialog is not in the scope of app-login -->
<dom-module id="app-login">
  <template>
   <!-- inline app-login.css -->
   <link rel="import" type="css" href="app-login.css" inline>
   <iron-ajax url="/neon-ws/validateAccountId" method="GET"
	handle-as="json" on-response="accountIdsAjaxResponse" id="getAccountIdsAjax"></iron-ajax>
    <iron-ajax url="[[ baseUri ]][[ loginUri ]]" method="POST" handle-as="json" on-response="postLogin" id="login" on-error="loginError"></iron-ajax>
    <iron-ajax url="[[ baseUri ]][[ resetUri ]]" method="POST" handle-as="json" on-response="postReset" id="reset" on-error="resetError"></iron-ajax>
    <iron-a11y-keys target="[[ target ]]" keys="enter" on-keys-pressed="clickLogin"></iron-a11y-keys>

    <paper-material class="content" hidden="[[ oidcAuth ]]">
    <template is="dom-if" if="[[ !enableRememberMe ]]">
      <div class="header">[[ webL10n(l10n, 'login.title') ]]</div>
    </template>
      <gold-email-input label="[[ webL10n(l10n, 'login.username') ]]" class="item item-input" value="{{ username }}"></gold-email-input>
      <paper-input on-keypress="checkCapsLock" label="[[ webL10n(l10n, 'login.password') ]]" class="item item-input" type="password" value="{{ password }}"></paper-input>
      <paper-input label="Account ID" class="item item-input" value="{{ accountId }}"></paper-input>
    
      <div class="layout horizontal justified">
        <div id="divCapsLockMsg" class="capsLockSection">
          <iron-icon icon="icons:warning"></iron-icon> [[ webL10n(l10n, 'login.capsLockWarning') ]]
        </div>
        <template is="dom-if" if="[[ enableRememberMe ]]">
          <paper-checkbox class="remember" checked="{{ rememberMe }}">[[ webL10n(l10n, 'login.rememberme') ]]</paper-checkbox>
        </template>
      </div>
      <div class="button-container">
          <template is="dom-if" if="[[ regularLoginButton ]]">
          <paper-button id="loginButton" disabled="{{ !showLogin(username, password,accountId) }}" on-tap="handleLogin">[[ webL10n(l10n, 'login.button') ]]</paper-button>
        </template>
        &nbsp;&nbsp;&nbsp;
        <template is="dom-if" if="[[ enableSignUp ]]">
          <paper-button id="loginButton" on-tap="redirectToSignUp">Sign Up</paper-button>
        </template>
      </div>
      <template is="dom-if" if="[[ enableForgotPassword ]]">
        <paper-button noink class="forgotPassword" on-tap="onPasswordForgot">[[ webL10n(l10n, 'login.forgotPassword') ]]</paper-button>
      </template>
      
      
      
    </paper-material>
    <paper-dialog id="openDialog" modal class="layout vertical">
      <span>[[ webL10n(l10n, 'login.confirmMsg') ]]</span>
      <div class="buttons">
        <paper-button style= "background-color: transparent; color: #006599;" dialog-dismiss>[[ webL10n(l10n, 'offer.no') ]]</paper-button>
        <paper-button on-tap="resetPassword">[[ webL10n(l10n, 'offer.yes') ]]</paper-button>
      </div>
    </paper-dialog>
    <template is="dom-if" if="[[ oidcAuth ]]">
      <flytxt-oidc-login src="[[ baseUri ]][[ loginUri ]]" user="{{ user }}"></flytxt-oidc-login>
    </template>
  </template>
  <!-- inline app-login.js -->
  <script type="text/javascript" src="app-login.js" inline></script>
</dom-module>
