:host {
  display: block;
  @apply(--app-login);

  --paper-fab: {
    @apply(--app-login-button);
  };

  --paper-fab-disabled : {
    @apply(--app-login-button-disabled);
  };
}

.content {
  padding: 3.75em 1.875em;
  background: var(--lightest-color);
  @apply(--app-login-content);
}

.header {
  @apply(--app-login-header);
}

@media screen and (min-width: 640px) {
  .content {
    margin: 4em auto;
    width: 40em;
    @apply(--app-login-content-large);
  }
}
#loginButton {
  @apply(--app-login-button);
}
#loginButton[disabled] {
  @apply(--app-login-button-disabled);
}

.remember {
  @apply(--app-login-remember-me);
}
.forgotPassword {
  @apply(--app-login-forgot-password);
}
paper-checkbox {
  @apply(--app-login-paper-checkbox);
}

.button-container {
  @apply(--layout-horizontal);
  @apply(--layout-end-justified);
  @apply(--app-login-button-container);
}

.capsLockSection {
  visibility: hidden;
  font-size: 0.7em;
}
